/* GENERAL */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
body {
    font-family: 'Lato', sans-serif;
}

.debug {
    border: 1px solid red;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-5 {
    padding-left: 10px;
    padding-right: 10px;
}

i {
    font-size: 22px;
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 1;
    cursor: pointer;
}
.info h4 {
    font-weight: 500
}
.info span {
    font-size: 14px;
    color: #82888b;
}

/* App Back */
.app-back {
    height: 100vh;
    width: 100%;
}

.green {
    height: 140px;
    width: 100%;
    background-color: #32a093;
}

.grey {
    height: calc(100% - 140px);
    width: 100%;
    background-color: #dce0dc;;
}



/* App */
.app {
    height: 95vh;
    width: 80%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
}

/* -----------GENERAL----------- */
/* Header Users */
.users {
    height: 100%;
    width: 35%;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #dbdbdb;
}

.header img {
    height: 85%;
    border-radius: 100%;
    cursor: pointer;
}


.icon {
    display: flex; 
    width: 20%;
    justify-content: end;
}

.icon i {
    color: #a5a5a5;
    margin-left: 20px;
    cursor: pointer;
}

/* -----------USER SECTION----------- */
/* Notify Section */
.notify {
    height: 80px;
    width: 100%;
    background-color: #a2dffe;
    display: flex;
    justify-content: start;
    align-items: center;
}

.notify-icon {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify-icon {
    color: #a2dffe;
}

.notify .info span {
    text-decoration: underline;
}

















/* ---------CHATS--------- */
.chat {
    height: 100%;
    width: 65%
}